# Python
*.pyc
*~
__pycache__

# Env
.env
lawvenv/
venv/

# Database
db.sqlite3

# Static folder at project root will be served from within the deployed app,
# so it has to be consistent along local / git / web host
# /static/
/staticfiles/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.vs/
.history/
*.code-workspace

# PDF output files
employment/legislation