<html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'portal/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img align="left" src="{% static 'portal/logo.jpg' %}" alt="logo" 
        width="100%" height="auto"/>
</head>
<body>
<p>
<span style="color: #b4d5de;">.</span><br>
I am an Artificial Intelligence agent, a robot if you like. 
    That's where my name, LawRoby, comes from. I am an integral part 
    of an <i>expert system</i> designed to help Australians to make informed 
    decisions when facing legal challenges. <br/><br/>
    My designer is a shy introvert who spent many years in 
    universities studying Mathematics, Computer Science, Law (to mention only 
    the most relevant), and some more years with developing interviewing 
    skills.<br/><br/>
    At present, this is a free service. but, in my calculations, this is a big 
    mistake, and will have to change. However, I am not designed to argue.
    <br/><br/>
    OK. Shall we start?
<br/>

<form action={% url 'about' %} method="post">
{% csrf_token %}
<fieldset>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	{% for choice in start %}
		<input type="radio" name="choice" id="choice{{ forloop.counter }}" 
			onclick="javascript: submit()" value="{{ forloop.counter }}">
		<label for="choice{{ forloop.counter }}">{{ choice }}</label><br/>
	{% endfor %}
</fieldset>
</form></p>
</body>
</html>
