<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portal/style.css' %}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
<img align="left" src="{% static 'portal/logo.jpg' %}" alt="logo" 
    width="100%" height="auto"/>
</div>
<p>
<span style="color: #b4d5de;">.</span><br>
Thank you for dropping by. <br/><br/>
Please don't hesitate to get in touch again 
when you need my assistance. <br/><br/>
Have a lovely day!</p>
</body>
</html>