{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portal/style.css' %}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img align="left" src="{% static 'portal/logo.jpg' %}" alt="logo" 
        width="100%" height="auto"/>
</head>
<p>
<span style="color: #b4d5de;">should not be seen - only for spaceholding</span><br>

    {% if error_message %}<strong>{{ error_message | linebreaks }}</strong>{% endif %}

<form action={% url 'employment:interview' %} method="post">
{% csrf_token %}

	{{ comment_text| linebreaks }}
	<input type="submit" name="comment" 
    value="Click here when you are ready to continue">

</form></p>