<html>
<head>{% include 'portal/header.html' %}</head>
<body>
<p><span style="color: #b4d5de;">.</span><br></p>
<p>{% if error_message %}<strong>{{ error_message | linebreaks }}</strong>{% endif %}</p>
<p>Thank you for your responses. <br/><br/>
I've prepared two pdf files for you to download. One contains the law that is directly 
and specifically relevant to your case. The second file contains full sections 
of the particular legislaton which are more generally relevant. They provide a 
wider legal context and reference. <br/></p>
<form action={% url 'employment:create_output' %} method="post">
{% csrf_token %}
    <p>
    <input type="submit" name="relevant_law" value="Download relevant_law">
    <span style="color: #b4d5de;">.</span><br><br>
    <input type="submit" name="full_sections" value="Download full_sections">
    <span style="color: #b4d5de;">.</span><br><br>
    Please, help me improve!<br><br>
    <input type="submit" name="feedback" value="After your downloads, leave a feedback here...">
    </p>
</form>
</body>
</html>