<html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'portal/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img align="left" src="{% static 'portal/logo.jpg' %}" alt="logo" 
        width="100%" height="auto"/>
</head>
<body>
<p>
<span style="color: #b4d5de;">.</span><br>
{% if error_message %}<strong>{{ error_message | linebreaks }}</strong>{% endif %}
Thank you for your responses. <br/><br/>
I've prepared two pdf files for you. One contains the law that is directly 
and specifically relevant to your case. The second file contains full sections 
of the particular legislaton which are more generally relevant. They provide a 
wider legal context and reference. <br/>
<form action={% url 'employment:create_output' %} method="post">
{% csrf_token %}
    <input type="submit" name="relevant_law" value="Download - relevant_law">
    <input type="submit" name="full_sections" value="Download - full_sections">
</form></p>
</body>
</html>