{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portal/style.css' %}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img align="left" src="{% static 'portal/logo.jpg' %}" alt="logo" 
        width="100%" height="auto"/>
</head>
<br/><br/>
<body>

<p>
{% if error_message %}<strong>{{ error_message | linebreaks }}</strong>{% endif %}
<br/>
{{ question_text | linebreaks}}

<form action="{% url 'employment:interview' %}" method="post">
{% csrf_token %}
<fieldset>
	{% for choice in choices %}
		<input type="radio" name="{{question_id}}" id="choice{{ forloop.counter }}" 
		onclick="javascript: submit()" value="{{ forloop.counter }}">
		<label for="choice{{ forloop.counter }}">{{ choice }}</label><br>
	{% endfor %}
</fieldset>
</form></p>
</body>
