{% load static %}

{% include 'portal/header.html' %}

<form action="{% url 'employment:other_issue' %}" method="post">
{% csrf_token %}
<br/>
    {% if error_message %}<strong>{{ error_message | linebreaks }}</strong>{% endif %}

<br/><p>I've not been able to identify your main issue. <br/><br/>
Please outline your case with a few words, so that I can follow it up. <br/><br/>
<textarea rows="10" cols="29" name="issue" placeholder="Enter text here"></textarea>	
<br>
<input type="submit" value="Click here when you are finished typing."
style="background-color: aliceblue; color: #03045e;">
</p>
</form>
