<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portal/style.css' %}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
<img align="left" src="{% static 'portal/logo.jpg' %}" alt="logo" 
    width="100%" height="auto"/>
</div>
<p>
<span style="color: #b4d5de;">should not be seen - only for spaceholding</span><br>

<form action="{% url 'employment:other_issue' %}" method="post">
{% csrf_token %}
    {% if error_message %}<strong>{{ error_message | linebreaks }}</strong>{% endif %}

I've not been able to identify your main issue. <br/><br/>
Please outline your case with a few words, so that I can follow it up. <br/><br/>
<textarea rows="10" cols="29" name="issue" placeholder="Enter text here"></textarea>	
<br>
<input type="submit" value="Click here when you are finished typing.">
</form>
</p>
</body>
</html>
